@charset "UTF-8";
body{font-family: PingFang-SC-Regular;background: #F7F7F7;}
.container{
    min-width: 320px;
    max-width: 750px;
    margin: 0 auto;
    position: relative;
}
.head_box{
    width: 100%;
    height: 0.86rem;
    line-height: 0.86rem;
    padding: 0 0.2rem;
    display: flex;
    justify-content: space-between;
}
.head_box .mui-icon-left-nav{
    font-size: 0.4rem;
    color: #333;
    flex: 1;
}
.mui-icon-left-nav:before{
    line-height: 0.86rem;
}
.head_box span{
    flex: 1;
    text-align: center;
    font-size: 0.34rem;
	color: #333333; 
}
.head_box .mui-icon-more{
    font-size: 0.4rem;
    color: #333;
    flex: 1;
    text-align: right;
}
.mui-icon-more:before{
    line-height: 0.86rem;
}
.score_box{
    width: 100%;
    height: 5.5rem;
    /* background: #85b3ff; */
    border-radius: 0rem 0rem 0.22rem 0.22rem;
    padding-top: 0.2rem;
    position: relative;
    background: url("../../ximg/score_bg.png") no-repeat center center #85b3ff;
    background-size: 4.3rem;
}
.zsxy_ti{
    width: 2.42rem;
	height: 0.56rem;
	background-color: #ffc36e;
    border-radius: 0rem 0.22rem 0.22rem 0rem;
    padding-left: 0.4rem;
    line-height: 0.56rem;
    font-size: 0.38rem;
    color: #fff;
    position: relative;
}
.zsxy_ti img{
    width: 0.56rem;
    height: 0.56rem;
    position: absolute;
    top: 0;
    right: -0.1rem;
}
.score_grade{
    width: 0.88rem;
    height: 0.88rem;
    background: url("../../ximg/pingjizhuangshi.png") no-repeat;
    background-size: 100%;
    position: absolute;
    top: 0.1rem;
    right: 0.48rem;
}
.score_grade span{
    display: block;
    width: 0.52rem;
    height: 0.52rem;
    background: #fff;
    border-radius: 50%;
    margin: 0.20rem 0.16rem;
    font-size: 0.24rem;
    color: #85b3ff;
    text-align: center;
    line-height: 0.52rem;
}
.star_box{
    position: absolute;
    top: 1.04rem;
    right: 0.48rem;
}
.star_box img{
    width: 0.14rem;
    float: left;
    margin-right: 0.04rem;
}
.score_user{
    font-size: 0.3rem;
    color: #ffffff;
    text-align: center;
    margin-top: 0.2rem;
}
.score_num{
    width: 2.04rem;
    height: 2.04rem;
    background: url("../../ximg/zhishuzhuangshi.png") no-repeat;
    background-size: 100%;
    margin: 0.1rem auto;
    position: relative;
}
.score_num span{
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 0.6rem;
    color: #85b3ff;
    text-align: center;
    line-height: 1.2rem;
}
.score_press{
    width: 2.92rem;
    height: 0.12rem;
    background-color: #f1f1f1;
    border-radius: 0.04rem;
    margin: 0 auto;
    position: relative;
}
.press_blue{
    width: 75%;
    height: 0.12rem;
    background: #06aef8;
    border-radius: 0.04rem;
    position: relative;
}
.press_blue img{
    width: 0.48rem;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%,-50%);
}
.score_per{
    font-size: 0.3rem;
    color: #ffffff;
    text-align: center;
    margin-top: 0.1rem;
}
.score_per span{
    color: #f9ff59;
}
.user_card{
    width: 7.1rem;
    /* height: 2.17rem; */
	background-color: #8f94ff;
    border-radius: 0.22rem;
    position: absolute;
    left: 0.2rem;
    top: 4.3rem;
    padding: 0.2rem;
}
.username{
    font-size: 0.3rem;
	color: #ffffff;
}
.user_info{
    display: flex;
    justify-content: space-between;
    margin-top: 0.1rem;
}
.user_info p{
    font-size: 0.26rem;
	color: #ffffff;
}
.user_info p img{
    width: 0.24rem;
    margin-right: 0.1rem;
    position: relative;
    top: 0.02rem;
}
.init_time{
    font-size: 0.26rem;
    color: #ffffff;
    margin-top: 0.12rem;
}
.risk_box{
    width: 7.1rem;
    margin: 2.3rem 0.2rem 0.4rem 0.2rem;
    background-color: #ffffff;
	border-radius: 0.22rem;
}
.risk_left{
    width: 50%;
    float: left;
    position: relative;
}
.risk_ti{
    margin-top: 0.4rem;
}
.risk_ti span{
    display: inline-block;
    height: 0.54rem;
    background-color: #ffc36e;
    line-height: 0.54rem;
    padding: 0 0.46rem 0 0.7rem;
    font-size: 0.32rem;
    color: #ffffff;
    position: relative;
}
.risk_ti span:after{
    content: '';
    width: 0;
    height: 0;
    border-width: 0.27rem;
    border-style: solid;
    border-color: transparent transparent transparent #ffc36e;
    position: absolute;
    right: -0.54rem;
    top: 0;
}
.risk_left ul{
    margin-top: 0.2rem;
}
.risk_left ul li{
    font-size: 0.26rem;
	line-height: 0.53rem;
    color: #333333;
    padding-left: 0.86rem;
    position: relative;
}
.risk_left ul li:before{
    content: '';
    display: inline-block;
    width: 0.16rem;
	height: 0.16rem;
    background-color: #ffc36e;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0.4rem;
    transform: translateY(-50%);
}
.vertical_line{
    position: absolute;
    top: 0.3rem;
    left: 0.45rem;
}
.vertical_line span{
    display: inline-block;
    width: 0.06rem;
    height: 4.42rem;
    background: #ffc36e;
    position: relative
}
.vertical_line span:after{
    content: '';
    width: 0;
    height: 0;
    border-width: 0.03rem;
    border-style: solid;
    border-color: #ffc36e transparent transparent transparent;
    position: absolute;
    left: 0;
    bottom: -0.06rem;
}
.risk_right{
    width: 50%;
    float: left;
}
.risk_right img{
    width: 2.13rem;
    display: block;
    margin: 1.44rem auto;
}
.quota_box{
    width: 7.1rem;
    height: 5.3rem;
    background: #fff;
    border-radius: 0.22rem;
    margin-left: 0.2rem;
    padding-top: 0.3rem;
}
.quota_item{
    width: 6.7rem;
    height: 1.82rem;
    margin: 0 0.2rem;
    background: url("../../ximg/quota_xy.png");
    background-size: 100%;
}
.quota_item1{
    background: url("../../ximg/quota_dk.png");
    background-size: 100%;
    margin-top: 0.3rem;
}
.quota_item p:nth-child(1){
    font-size: 0.28rem;
    color: #ffffff;
    padding-top: 0.4rem;
    padding-left: 2.83rem;
}
.quota_item p:nth-child(2){
    font-size: 0.6rem;
    color: #ffffff;
    margin-top: 0.2rem;
    text-align: center;
}
.quota_tips{
    font-size: 0.18rem;
	line-height: 0.34rem;
    color: #999999;
    padding: 0 0.2rem;
    margin-top: 0.2rem;
}
.arrow_down{
    width: 0.27rem;
    display: block;
    margin: 0.2rem auto 0;
}
.see_report p{
    font-size: 0.36rem;
    color: #FFB03B;
    transform: rotate(90deg);
    text-align: center;
}
.see_more{
    width: 5.03rem;
    height: 1.33rem;
    margin: 0 auto 0.2rem;
    background: url("../../ximg/see_more.png") center;
    background-size: 100%;
    font-size: 0.34rem;
    color: #ffffff;
    text-align: center;
    padding-top: 0.3rem;
}
.plate_title{
    text-align: center;
    font-size: 0.32rem;
    color: #151515;
    line-height: 0.5rem;
	margin-top: 0.2rem;
}
.plate_title .circular{
    display: inline-block;
    border-radius: 50%;
    background-color: #ffc36e;
}
.plate_title .circular.circular1{
    width: 0.08rem;
    height: 0.08rem;
    position: relative;
    top: -0.06rem;
}
.plate_title .circular.circular2{
    width: 0.14rem;
    height: 0.14rem;
    position: relative;
    top: -0.03rem;
}
.plate_title .circular.circular3{
    width: 0.2rem;
	height: 0.2rem;
}
.intention_box{
    width: 7.1rem;
    /* height: 1.6rem; */
    background: #fff;
    border-radius: 0.22rem;
    margin: 0.2rem;
    padding: 0.2rem;
}
.intention_score{
    font-size: 0.26rem;
    color: #333333;
    text-align: center;
}
.intention_txt{
    font-size: 0.24rem;
    color: #666666;
    text-align: center;
    margin-top: 0.16rem;
}
.intention_tips{
    font-size: 0.18rem;
    color: #999999;
    margin-top: 0.16rem;
    line-height: 0.36rem;
}
.break_faith{
    margin-top: 0.4rem;
    margin-left: 0.2rem;
}
.break_faith span{
    display: inline-block;
    height: 0.54rem;
    background-color: #ffc36e;
    line-height: 0.54rem;
    padding: 0 0.12rem 0 0.4rem;
    font-size: 0.32rem;
    color: #ffffff;
    position: relative;
}
.break_faith span:after{
    content: '';
    width: 0;
    height: 0;
    border-width: 0.27rem;
    border-style: solid;
    border-color: transparent transparent transparent #ffc36e;
    position: absolute;
    right: -0.54rem;
    top: 0;
}
.implement_box{
    width: 7.1rem;
    padding: 0.2rem;
    background: #fff;
    border-radius: 0.22rem;
    margin: 0.3rem 0.2rem;
}
.implement_ti span{
    display: inline-block;
    font-size: 0.28rem;
    color: #151515;
    padding-bottom: 0.1rem;
    border-bottom: 0.02rem solid #151515;
}
.implement_info{
    margin-top: 0.24rem;
    padding-bottom: 0.04rem;
}
.implement_info span{
    display: inline-block;
    height: 0.44rem;
	background-color: #85b3ff;
    border-radius: 0.22rem;
    line-height: 0.44rem;
    padding: 0 0.15rem;
    font-size: 0.26rem;
    color: #ffffff;
    margin-right: 0.2rem;
}
.implement_item{
    margin-top: 0.14rem;
    display: flex;
    justify-content: space-between;
}
.implement_item .info_left{
    /* width: 52%; */
    font-size: 0.26rem;
	color: #999999;
}
.implement_item .info_right{
    display: inline-block;
    /* width: 48%; */
    font-size: 0.26rem;
    color: #333333;
    text-align: right;
}
.horizontal_line{
    height: 0.02rem;
    background: #aaa;
    margin: 0.22rem 0 0.2rem 0;
}
.search_id{
    width: 7.1rem;
    margin: 0.3rem 0.2rem;
    padding: 0.2rem;
    background: #fff;
    border-radius: 0.22rem;
}
.search_ti{
    font-size: 0.28rem;
	color: #151515;
}
.search_ti span{
    display: inline-block;
    width: 0.14rem;
	height: 0.14rem;
    background-color: #ff3a92;
    border-radius: 50%;
    position: relative;
    top: -0.04rem;
    margin-right: 0.1rem;
}
.search_item{
    width: 33.33%;
    float: left;
    text-align: center;
}
.search_item p:nth-child(1){
    font-size: 0.28rem;
    color: #85b3ff;
    padding-top: 0.2rem;
}
.search_item p:nth-child(2){
    font-size: 0.24rem;
    color: #666;
    margin-top: 0.04rem;
}
.search_line{
    margin: 0.22rem 0 0 0;
}
.contact_txt{
    font-size: 0.26rem;
    color: #666666;
    margin-bottom: 0.1rem;
}
.contact_txt span{
    color: #333;
    float: right;
}
.contact_tips{
    font-size: 0.18rem;
    color: #999999;
    padding-top: 0.1rem;
}
.risk_list{
    margin-top: 0.2rem;
}
.risk_list p:nth-child(1){
    font-size: 0.26rem;
    color: #666666;
}
.risk_list p:nth-child(1) span{
    float: right;
    color: #333;
}
.risk_list p:nth-child(1) span.risk_yes{
    color: #ff2727;
}
.risk_list p:nth-child(2){
    font-size: 0.18rem;
	color: #85b3ff;
}
.break_faith a{
    line-height: 0.54rem;
    font-size: 0.22rem;
    color: #85b3ff;
    float: right;
    margin-right: 0.2rem;
}
.apply_num{
    background: #F7F7F7;
    margin-top: 0;
}
.apply_list{
    display: flex;
    justify-content: space-between;
    margin-top: 0.14rem;
}
.apply_left{
    font-size: 0.26rem;
	color: #333333;
}
.apply_right span{
    display: inline-block;
    height: 0.24rem;
    background-color: #85b3ff;
    line-height: 0.24rem;
    font-size: 0.18rem;
	color: #ffffff;
    text-align: center;
}
.apply_right span.apply_per1{
    width: 0.36rem;
}
.apply_right span.apply_per2{
    width: 0.7rem;
}
.apply_right span.apply_per3{
    width: 1.05rem;
}
.apply_right span.apply_per4{
    width: 2.3rem;
}
.apply_right span.apply_per5{
    width: 4.35rem;
}
.loan_box{
    position: relative;
    overflow: hidden;
}
.loan_ti p{
    width: 6.7rem;
    font-size: 0.28rem;
    color: #85b3ff;
    float: left;
}
.loan_box .mui-icon{
    font-size: 0.38rem;
    position: absolute;
    color: #85b3ff;
}
.loan_box .mui-icon.mui-icon-arrowleft{
    top: 0.2rem;
    left: 1.3rem;
}
.loan_box .mui-icon.mui-icon-arrowright{
    top: 0.2rem;
    right: 1.3rem;
}
.loan_tab{
    width: 35.5rem;
}
.loan_item{
    width: 6.7rem;
    margin-bottom: 0.2rem;
    float: left;
    margin-right: 0.4rem;
}
.loan_item:last-of-type{
    margin-right: 0;
}
.loan_ti{
    font-size: 0.28rem;
    color: #85b3ff;
    text-align: center;
}
.loan_list{
    display: flex;
    justify-content: space-between;
    margin-top: 0.2rem;
}
.loan_list_left{
    font-size: 0.26rem;
	color: #333333;
}
.loan_id{
    display: inline-block;
    width: 0.5rem;
    text-align: left;
    font-size: 0.26rem;
    color: #ffc36e;
}
.loan_tell{
    display: inline-block;
    width: 0.5rem;
    text-align: right;
    font-size: 0.26rem;
	color: #85b3ff;
}
.loan_tips1{
    font-size: 0.2rem;
	color: #666666;
}
.loan_tips1 span{
    display: inline-block;
    width: 0.12rem;
    height: 0.12rem;
    border-radius: 50%;
    background: #ffc36e;
    margin-right: 0.1rem;
}
.loan_tips2 span{
    background: #85b3ff;
}
.to_loan .implement_item{
    margin-top: 0.2rem;
}
.implement_item .info_right.info_right_yes{
    color: #ff2727;
}
.details_item{
    margin-top: 0.2rem;
    padding: 0 0.2rem;
}
.details_ti{
    font-size: 0.28rem;
    color: #151515;
    padding-left: 0.44rem;
    position: relative;
}
.details_ti:before{
    content: '';
    width: 0.14rem;
	height: 0.14rem;
    background-color: #ff3a92;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0.2rem;
    transform: translateY(-50%);
}
.details_bot{
    background: #fff;
    padding: 0.24rem 0.2rem;
    border-radius: 0.22rem;
    margin-top: 0.12rem;
}
.details_bot .implement_item{
    margin-bottom: 0.2rem;
    margin-top: 0;
}
.details_bot .implement_item:last-of-type{
    margin-bottom: 0;
}
.see_all_btn,.see_more_btn{
    display: block;
    width: 2rem;
	height: 0.54rem;
	background-color: #ffc36e;
    border-radius: 0.27rem;
    margin: 0.3rem auto 0;
    font-size: 0.26rem;
    color: #ffffff;
    border: none;
}
.see_more_btn{
    width: 4.2rem;
    font-size: 0.28rem;
}
.other_details{
    display: none;
}
.search_time{
    padding: 0 0.2rem;
}
.search_time_box{
    padding: 0 0.54rem;
    display: flex;
    justify-content: space-around;
    margin-top: 0.3rem;
}
.time_item{
    width: 1.5rem;
    text-align: center;
}
.time_item p{
    font-size: 0.26rem;
	color: #333333;
}
.cir_box{
    width: 1.5rem;
    height: 0.74rem;
    background: url("../../ximg/lanbaisebanyuan.png");
    background-size: 100%;
    margin-top: 0.1rem;
}
.cir_box span{
    display: block;
    width: 50%;
    float: left;
    line-height: 0.74rem;
    font-size: 0.26rem;
    color: #ffffff;
    text-align: center;
}
.cir_box span:nth-child(2){
    color: #333333;
}
.cir_box1{
    background: url("../../ximg/chengbaisebanyuan.png");
    background-size: 100%;
}
.search_time_boxd{
    margin-top: 0.2rem;
}
.search_time_boxd .cir_box{
    margin-top: 0;
    background: url("../../ximg/lanbaisebanyuan_d.png");
    background-size: 100%;
}
.search_time_boxd .cir_box1{
    margin-top: 0;
    background: url("../../ximg/chengbaisebanyuan_d.png");
    background-size: 100%;
}
.search_time_boxd .time_item p{
    margin-top: 0.1rem;
}
.apply_txt_b,.apply_txt_w{
    font-size: 0.2rem;
    color: #666666;
    margin-top: 0.3rem;
    padding-left: 0.4rem;
    position: relative;
}
.apply_txt_w{
    margin-top: 0.04rem;
}
.apply_txt_b:before,.apply_txt_w:before{
    content: '';
    width: 0.12rem;
	height: 0.12rem;
    background: #ffc36e;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0.2rem;
    transform: translateY(-50%);
}
.apply_txt_w:before{
    background: #85b3ff;
}
.search_time_tips{
    font-size: 0.18rem;
    color: #999999;
    line-height: 0.34rem;
    margin-top: 0.2rem;
    padding: 0 0.2rem;
}
.idinfo_date table{
    width: 6.7rem;
    margin-left: 0.4rem;
    margin-top: 0.2rem;
}
.idinfo_date table tr{
    height: 0.56rem;
    line-height: 0.56rem;
}
.idinfo_date table tr td{
    font-size: 0.26rem;
    color: #333;
    text-align: center;
}
.idinfo_date table tr:first-of-type td{
	color: #85b3ff;
}
.idinfo_date table tr td:first-of-type{
    color: #666;
    text-align: left;
}
.idinfo_date table.table2{
    margin-bottom: 0.1rem;
}
.idinfo_date table.table2 tr:first-of-type td{
    color: #ffc36e;
}
.idinfo_tips{
    font-size: 0.18rem;
    color: #999999;
    padding: 0 0.4rem 0.2rem 0.4rem;
}
.anti_fraud{
    margin-bottom: 0.2rem;
    margin-top: 0.3rem;
}
.conceal_propose{
    display: none;
}
.propose_box p{
    font-size: 0.26rem;
	line-height: 0.34rem;
    color: #333333;
    margin-bottom: 0.2rem;
}
.propose_box p:last-of-type{
    margin-bottom: 0;
}
.propose_box p span{
    display: inline-block;
    font-size: 0.28rem;
    color: #151515;
    padding-bottom: 0.1rem;
    border-bottom: 0.02rem solid #151515;
}
.propose_box .industry_tips{
    font-size: 0.18rem;
	color: #999999;
}
.bot_box{
    margin-top: 0.3rem;
    text-align: center;
}
.bot_title{
    font-size: 0.32rem;
	color: #151515;
}
.bot_des{
    font-size: 0.26rem;
    color: #333333;
    margin-top: 0.12rem;
}
.bot_wx{
    margin-top: 0.2rem;
}
.erweima{
    width: 2.96rem;
    display: block;
    margin: 0.1rem auto;
}
.data_des{
    font-size: 0.32rem;
    color: #333333;
    margin-top: 0.7rem;
}
.data_txt{
    text-align: left;
    font-size: 0.26rem;
    color: #666666;
    padding: 0.2rem 0.4rem 0 0.4rem;
}
.go_top{
    display: block;
    width: 0.49rem;
    margin: 0.7rem auto;
}


