@charset "UTF-8";
body{font-family: PingFang-SC-Regular;background: #F1F1F1;}
.container{
    min-width: 320px;
    max-width: 750px;
    margin: 0 auto;
    position: relative;
    padding-top: 0.3rem;
}
.main{
    height: 6.9rem;
    background: #fff;
    padding: 0.24rem 0.4rem;
}
.main input{
    width: 100%;
    height: 0.6rem;
    border-radius: 0.3rem;
    border: solid 0.02rem #e0e0e0;
    padding-left: 0.3rem;
    font-size: 0.26rem;
    margin-bottom: 0.3rem;
    float: left;
}
.bind_tips{
    font-size: 0.24rem;
	color: #ef2323;
}
.submit_btn{
    width: 6.1rem;
	height: 0.76rem;
	background-image: linear-gradient(87deg, #a051f2 0%, #7536d4 100%), linear-gradient(#8948d2, #8948d2);
	background-blend-mode: normal, normal;
    border-radius: 0.38rem;
    border: none;
    font-size: 0.3rem;
    color: #ffffff;
    display: block;
    margin: 0.8rem auto 0;
}